.DS_Store
node_modules
/node_modules
dist/
build/
uploads/
public/uploads/

package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Config
config/dev.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*
